
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}
.sidebar-logo{
    
    font-size: 2em;
}
.sidebar-logo-home{
    font-size: 4em;
}
.logout-logo{
    padding-top: 6em;
}
.sidebar-button,
.sidebar-button2{
    padding: 1em;
    border-radius: 1em;
    color: black;
}
.sidebar-button:hover{
    background-color: var(--twitter-color);
}